.menu {
	padding: 50px 20px 0px 25px; 
}
.label {
	float: left;
	text-align: right;
	width: 300px;
	font-size: 12px;
	padding: 10px 10px 10px 100px;
}
.value {
	float: left;
	text-align: left;
	width: 300px;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

.content_pane {
	padding-left: 50px;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#user_navigation {
	float: right;
}
