<div class="content_pane">
	<br clear="all" />
	<%= render "menu"%>
	<div class="formLayout">
		<div class="heading">Editing candidate</div>
		<%= render 'form' %>
		<br clear="all" />
	</div>
</div>

