<table>
<% @emails.each do |email| %>
    <thead>
    	<th>
    		From
    	</th>
    	<th>
    		Resume file
    	</th>
    </thead>
    <tr>
    	<td>
    		<%= email.from %>
    	</td>
    	<td>
    		<%= link_to_resume(email.attachments[0].filename, @company.id.to_s, "email") %>
    	</td>
    </tr>
<% end %>
</table> 
